<div class="title-wrapper breadcrumb-wrapper">
	<breadcrumb-component breadcrumb-params="breadcrumbParams" breadcrumb-text="breadcrumbText"></breadcrumb-component>
</div>
<div class="subTitle-wrapper">
 	<div class="subTitle-content">
 		<p ng-if ="!active">{{params.name}}</p>
 	</div>
 	<div class="subTitle-operate">
		<a ng-click="deleteBus()">删车辆</a>
 	</div>
</div>
<div class="right-content-wrapper container-shadow-border">
	<div class="inner-content">
		<div class="info-wrapper">
			<div class="title">
				<h1>基础信息</h1>
				<a ng-click="editDriverProfile(false)" ng-if="!active">编辑</a>
				<a ng-click="!submitOnProgress && submitDriverProfile(formValidate.$invalid)" ng-if="active">完成</a>
			</div>
			<div class="content">
				<form name="formValidate" novalidate>
					<div class="content-inline">
						<div class="content-inline-item"  
							 ng-class="{'has-error':formValidate.name.$dirty && formValidate.name.$invalid,'has-success':formValidate.name.$dirty && !formValidate.name.$invalid}">
							<label for="name" class="control-label largeSpace" >牌照信息:</label>
							<input type="text"  
								   class= "form-control" 
								   id="name" 
								   name="name" 
								   required="" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.name"
								   ng-pattern="/^[a-zA-Z\u4E00-\u9FA5]{1,10}$/"/>
							<div class="error"  
								 ng-show="formValidate.name.$dirty && formValidate.name.$invalid">
						        <small class="control-label" 
						           	   ng-show="formValidate.name.$error.required">
						            请输入拍照
						        </small>
						      </div>
						</div>

						<div class="content-inline-item" 
							 ng-class="{'has-error':formValidate.phoneNumber.$dirty && formValidate.phoneNumber.$invalid,'has-success':formValidate.phoneNumber.$dirty && !formValidate.phoneNumber.$invalid}">
							<label class=" control-label" for="phoneNumber" >车辆类型</label>
							<input type="text" 
								   id="phoneNumber" 
								   class= "form-control" 
								   required=""  
								   name="phoneNumber" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.phoneNumber">
							<div class="error"  ng-show="formValidate.phoneNumber.$dirty && formValidate.phoneNumber.$invalid">
								<small class="control-label" 
						            ng-show="formValidate.phoneNumber.$error.required">
						            请输车辆类型
						        </small>
		
						    </div>
						</div>

					</div>
					<div class="content-inline">
						<div class="content-inline-item" ng-class="{'has-error':formValidate.shuttleCompanyId.$dirty && formValidate.shuttleCompanyId.$invalid,'has-success':formValidate.shuttleCompanyId.$dirty && !formValidate.shuttleCompanyId.$invalid}">
							<label class="control-label largeSpace">车辆VIN号:</label>
							<input type="text" 
								   class= "form-control"  
								   required="" 
								   name="shuttleCompanyId" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.shuttleCompanyId">
							<div class="error"  ng-show="formValidate.shuttleCompanyId.$dirty && formValidate.shuttleCompanyId.$invalid">
								<small class="control-label" 
						            ng-show="formValidate.shuttleCompanyId.$error.required">
						            请输入车辆VIN号
						        </small>
						    </div>
						</div>

						<div class="content-inline-item">
							<label class="control-label">发动机号:</label>
							<input type="text" 
								   class= "form-control"  
								   required="" 
								   name="shuttleCompanyId" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.shuttleCompanyId">
						</div>
					</div>

					<div class="content-inline">
						<div class="content-inline-item">
							<label class="control-label largeSpace">行驶证:</label>
							<input type="text" 
								   class= "form-control"  
								   required="" 
								   name="licenseID" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.licenseID">
						</div>

						<div class="content-inline-item">
							<label class="control-label">座位数:</label>
							<input type="text" 
								   class= "form-control"  
								   required="" 
								   name="licenseExpirationDate" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.licenseExpirationDate">
						</div>
					</div>

					<div class="content-inline">
						<div class="content-inline-item">
							<label class="control-label largeSpace">年审时间:</label>
							<input type="text" 
								   class= "form-control"  
								   required="" 
								   name="licenseID" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.licenseID">
						</div>

						<div class="content-inline-item">
							<label class="control-label">过期时间:</label>
							<input type="text" 
								   class= "form-control"  
								   required="" 
								   name="licenseExpirationDate" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.licenseExpirationDate">
						</div>
					</div>

					<div class="content-inline">
						<div class="content-inline-item">
							<label class="control-label largeSpace">巴士公司:</label>
							<input type="text" 
								   class= "form-control"  
								   required="" 
								   name="licenseID" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.licenseID">
						</div>
					</div>
				</form>				
			</div>
		</div>
	</div>
</div>