<div class="title-wrapper breadcrumb-wrapper">
	<breadcrumb-component breadcrumb-params="breadcrumbParams" breadcrumb-text="breadcrumbText"></breadcrumb-component>
</div>
<div class="subTitle-wrapper">
 	<div class="subTitle-content">
 		<p ng-if ="!active">{{params.name}}</p>
 	</div>
 	<div class="subTitle-operate">
<!-- 		<a ng-click="deletePassenger()">删除司机</a> -->
 	</div>
</div>
<div class="right-content-wrapper container-shadow-border">
	<div class="inner-content">
		<div class="info-wrapper" ng-if = "stepOne">
			<div class="title">
				<h1>基础信息</h1>
			</div>
			<div class="content">
				<form name="formValidateOne" novalidate style="text-align: center;">
					<div class="content-inline">
						<div class="content-inline-item"
							 style="width: 100%;" 
							 ng-class="{'has-error':formValidateOne.beginDate.$dirty && formValidateOne.beginDate.$invalid,'has-success':formValidateOne.beginDate.$dirty && !formValidateOne.beginDate.$invalid}">
							<label for="beginDate" class="control-label" >开始时间:</label>
							<div class="input-group date datepicker" data-provide="datepicker">
    							<input type="text" 
    								   class="form-control"
    							 	   name="beginDate" 
								       id="beginDate" 
								       ng-disabled="!active"
								       required="" 
								       ng-class="{'edit':active,'preview':!active}" 
								       ng-model="params.beginDate">
    							<div class="input-group-addon">
        							<span class="glyphicon glyphicon-th"></span>
    							</div>
							</div>

							<div class="error"  
							 	 ng-show="formValidateOne.beginDate.$dirty && formValidateOne.beginDate.$invalid">
						        <small class="control-label" ng-show="formValidateOne.beginDate.$error.required">
						        	请输开始时间
						        </small>
					      	</div>
						</div>
					</div>

					<div class="content-inline">
						<div class="content-inline-item"
							 style="width: 100%;" 
							 ng-class="{'has-error':formValidateOne.endDate.$dirty && formValidateOne.endDate.$invalid,'has-success':formValidateOne.endDate.$dirty && !formValidateOne.endDate.$invalid}">
							<label for="endDate" class="control-label">结束时间:</label>
							<div class="input-group date datepicker" data-provide="datepicker">
    							<input type="text" 
    								   class="form-control"
    							 	   name="endDate" 
								       id="endDate" 
								       ng-disabled="!active"
								       required="" 
								       ng-class="{'edit':active,'preview':!active}" 
								       ng-model="params.endDate">
    							<div class="input-group-addon">
        							<span class="glyphicon glyphicon-th"></span>
    							</div>
							</div>

							<div class="error"	ng-show="formValidateOne.endDate.$dirty && formValidateOne.endDate.$invalid">
						        <small class="control-label"	ng-show="formValidateOne.endDate.$error.required">
						            请输入结束时间
						        </small>
					      	</div>
						</div>
					</div>


					<div class="content-inline">
						<div class="content-inline-item"
							 style="width: 100%;" 
							 ng-class="{'has-error':formValidateOne.departureTime.$dirty && formValidateOne.departureTime.$invalid,'has-success':formValidateOne.departureTime.$dirty && !formValidateOne.departureTime.$invalid}">
							<label class=" control-label" for="departureTime" >运行时段:</label>
								<select ng-model="params.routeType"	
										name="departureTime" 
										required="" 
										style="width: 176px; margin-right: -11px"
										class="form-control">
									<option value="AM">AM</option>
									<option value="PM">PM</option>
								</select>
							<div class="error"	ng-show="formValidateOne.departureTime.$dirty && formValidateOne.departureTime.$invalid">
						        <small class="control-label"	ng-show="formValidateOne.departureTime.$error.required">
						            请选择运行时段
						        </small>
					      	</div>
						</div>
					</div>


					<div class="content-inline">
						<div class="content-inline-item" 
							  style="width: 100%;" 
							 ng-class="{'has-error':formValidateOne.shuttleCompanyId.$dirty && formValidateOne.shuttleCompanyId.$invalid,'has-success':formValidateOne.shuttleCompanyId.$dirty && !formValidateOne.shuttleCompanyId.$invalid}">
							<label class="control-label">周末排班:</label>
								<span class="first-operate" style="margin-right: 10px;">
									<input type="checkbox" id="item" ng-model="params.includingSaturday" />
									<label for="item" class="check-box" style="width: 15px;margin-bottom: 0px;vertical-align: sub;"></label>
									<span>包含周六</span>
								</span>
								<span class="first-operate">
									<input type="checkbox" id="item_1"  ng-model="params.includingSunday"/>
									<label for="item_1" class="check-box" style="width: 15px;margin-bottom: 0px;vertical-align: sub;"></label>
									<span>包含周日</span>
								</span>
							<div class="error"  ng-show="formValidateOne.shuttleCompanyId.$dirty && formValidateOne.shuttleCompanyId.$invalid">
								<small class="control-label" 
						            ng-show="formValidateOne.shuttleCompanyId.$error.required">
						            请选择车辆运营单位
						        </small>
						    </div>
						</div>
					</div>


					<div class="content-inline">
						<div class="btn-wrapper" style="margin-top: 40px;width: 100%;padding: 0;">
							<a ng-click="close()"  class="submitBtn submit-cancel">取消</a>
							<a ng-click="!submitOnProgress&& stepOneSubmit(formValidateOne.$invalid)" class="submitBtn submit-ok">确认</a>
						</div>
					</div>
				</form>				
			</div>
		</div>


		<div class="info-wrapper" ng-if="stepTwo">
			<div class="title">
				<h1>线路信息</h1>
			</div>
			<div class="content">
				<form name="formValidateTwo" novalidate style="text-align: center;">
					<div class="content-inline">
						<div class="content-inline-item"
							 style="width: 100%;" 
							 ng-class="{'has-error':formValidateTwo.routeTemplateName.$dirty && formValidateTwo.routeTemplateName.$invalid,'has-success':formValidateTwo.routeTemplateName.$dirty && !formValidateTwo.routeTemplateName.$invalid}">
							<label for="routeTemplateName" class="control-label" >线路名称:</label>
							<div class="input-group">
								<select ng-options="item.routeTemplateName for item in params.routeTemplate" ng-model="params.routeTemplateObj" style="width: 220px">
								</select>
							</div>

							<div class="error"  
								 ng-show="formValidateTwo.name.$dirty && formValidateTwo.name.$invalid">
						        <small class="control-label" 
						           	   ng-show="formValidateTwo.name.$error.required">
						            请输入员司机姓名
						        </small>
						        <small class="control-label" 
						            ng-show="formValidateTwo.name.$error.pattern">
						            司机姓名过长，请重新输入
						        </small>
						      </div>
						</div>
					</div>

					<div class="content-inline">
						<div class="content-inline-item" 
						     style="width: 100%;" 
							 ng-class="{'has-error':formValidateTwo.licensePlate.$dirty && formValidateTwo.licensePlate.$invalid,'has-success':formValidateTwo.licensePlate.$dirty && !formValidateTwo.licensePlate.$invalid}">
							<label class=" control-label" for="licensePlate" >牌照信息:</label>
							<div class="input-group">
								<select ng-options="item.licensePlate for item in params.vehicles" ng-model="params.vehicleObj" style="width: 220px">
								</select>
							</div>
						</div>
					</div>
					

					<div class="content-inline">
						<div class="content-inline-item"
							 style="width: 100%;" 
							 ng-class="{'has-error':formValidateTwo.endDate.$dirty && formValidateTwo.endDate.$invalid,'has-success':formValidateTwo.endDate.$dirty && !formValidateTwo.endDate.$invalid}">
							<label class=" control-label" for="endDate" >司机名称:</label>
							<div class="input-group">
								<select ng-options="item.driverName for item in params.drivers" ng-model="params.driverObj" style="width: 220px">
								</select>
							</div>
						</div>
					</div>

					<div class="content-inline" style="padding-left:38%">
						<div style="width: 100%;" 
							 ng-class="{'has-error':formValidateTwo.endDate.$dirty && formValidateTwo.endDate.$invalid,'has-success':formValidateTwo.endDate.$dirty && !formValidateTwo.endDate.$invalid}">
							<label class=" control-label" for="endDate"  style="float: left;margin-top: 36px;margin-right: 14px;">发车时间:</label>
							  
							<div class="startTime" style="float: left;">
								<div uib-timepicker ng-model="params.departureTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

							</div>
							<div style="float: left;float: left;
									    display: inline-block;
									    margin-top: 34px;
									    margin-left: 7px;">
								<button class="btn" 
										style="background: #338ca5;
											    color: #fff;
											    height: 23px;
											    line-height: 10px;
											    border-radius: none;
											    border-radius: 0;"
										ng-click = "clear()">清空</button>
							</div>
							
							<!-- <div class="input-group date datepicker" data-provide="datepicker">
								<input type="text" class="form-control"
								 	   name="licenseExpirationDate" 
								       id="endDate" 
								       ng-disabled="!active" 
								       ng-class="{'edit':active,'preview':!active}" 
								       ng-model="params.endDate">
								<div class="input-group-addon">
	    							<span class="glyphicon glyphicon-th"></span>
								</div>
							</div> -->
						</div>
					</div>


					<div class="content-inline">
						<div class="btn-wrapper"
							 style="margin-top: 40px;width: 100%;padding: 0;">
							<a ng-click="stepTwoPre()"  class="submitBtn submit-cancel">上一页</a>
							<a ng-click="!submitOnProgress&& stepTwoSubmit(formValidateTwo.$invalid)" class="submitBtn submit-ok">确定</a>
						</div>
					</div>
				</form>				
			</div>
		</div>

	</div>
</div>