<div class="title-wrapper breadcrumb-wrapper">
	<breadcrumb-component breadcrumb-params="breadcrumbParams" breadcrumb-text="breadcrumbText"></breadcrumb-component>
</div>
<div class="subTitle-wrapper">
 	<div class="subTitle-content">
 		<p ng-if ="!active">{{params.name}}</p>
 	</div>
 	<div class="subTitle-operate">
		<a ng-click="deleteDriver()">删除司机</a>
 	</div>
</div>
<div class="right-content-wrapper container-shadow-border">
	<div class="inner-content">
		<div class="info-wrapper">
			<div class="title">
				<h1>基础信息</h1>
				<a ng-click="editPassengerProfile(false)" ng-if="!active">编辑</a>
				<a ng-click="!submitOnProgress&&formValidate.$valid && submitDriverProfile()" ng-if="active">完成</a>
			</div>
			<div class="content">
				<form name="formValidate" novalidate>
					<div class="content-inline">
						<div class="content-inline-item"  
							 ng-class="{'has-error':formValidate.name.$dirty && formValidate.name.$invalid,'has-success':formValidate.name.$dirty && !formValidate.name.$invalid}">
							<label for="name" class="control-label" >司机姓名:</label>
							<input type="text"  
								   class= "form-control" 
								   id="name" 
								   name="name" 
								   required="" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.name"
								   ng-pattern="/^[a-zA-Z\u4E00-\u9FA5]{1,10}$/"/>
							<div class="error"  
								 ng-show="formValidate.name.$dirty && formValidate.name.$invalid">
						        <small class="control-label" 
						           	   ng-show="formValidate.name.$error.required">
						            请输入员司机姓名
						        </small>
						        <small class="control-label" 
						            ng-show="formValidate.name.$error.pattern">
						            司机姓名过长，请重新输入
						        </small>
						      </div>
						</div>

						<div class="content-inline-item" 
							 ng-class="{'has-error':formValidate.phoneNumber.$dirty && formValidate.phoneNumber.$invalid,'has-success':formValidate.phoneNumber.$dirty && !formValidate.phoneNumber.$invalid}">
							<label class=" control-label largeSpace" for="phoneNumber" >手机号码：</label>
							<input type="text" 
								   id="phoneNumber" 
								   class= "form-control" 
								   required=""  
								   ng-maxlength="11" 
								   ng-minlength="11"  
								   maxlength="11" 
								   ng-pattern ="/^[0-9][0,1,2,3,4,5,6,7,8,9][0-9]{9}$/" 
								   name="phoneNumber" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.phoneNumber">
							<div class="error"  ng-show="formValidate.phoneNumber.$dirty && formValidate.phoneNumber.$invalid">
								<small class="control-label" 
						            ng-show="formValidate.phoneNumber.$error.required">
						            请输入手机号
						        </small>
						        <small class="control-label" 
						            ng-show="formValidate.phoneNumber.$error.maxlength">
						            请输入11位的手机号
						        </small>

						        <small class="control-label" 
						                ng-show="formValidate.phoneNumber.$error.minlength &&!formValidate.phoneNumber.$error.pattern">
						            请输入11位手机号
						        </small>
						       <small class="control-label" 
						                ng-show="formValidate.phoneNumber.$error.pattern ">
						            请输入正确的手机号
						        </small>
						    </div>
						</div>

					</div>
					<div class="content-inline">
						<div class="content-inline-item" ng-class="{'has-error':formValidate.shuttleCompanyId.$dirty && formValidate.shuttleCompanyId.$invalid,'has-success':formValidate.shuttleCompanyId.$dirty && !formValidate.shuttleCompanyId.$invalid}">
							<label class="control-label">巴士公司:</label>
							<input type="text" 
								   class= "form-control"  
								   required="" 
								   name="shuttleCompanyId" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.shuttleCompanyId">
							<div class="error"  ng-show="formValidate.shuttleCompanyId.$dirty && formValidate.shuttleCompanyId.$invalid">
								<small class="control-label" 
						            ng-show="formValidate.shuttleCompanyId.$error.required">
						            请输入巴士公司
						        </small>
						    </div>
						</div>
					</div>

					<div class="content-inline">
						<div class="content-inline-item" ng-class="{'has-error':formValidate.licenseID.$dirty && formValidate.licenseID.$invalid,'has-success':formValidate.licenseID.$dirty && !formValidate.licenseID.$invalid}">
							<label class="control-label ">驾照信息:</label>
							<input type="text" 
								   class= "form-control"  
								   required="" 
								   name="licenseID" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.licenseID">
							<div class="error"  ng-show="formValidate.licenseID.$dirty && formValidate.licenseID.$invalid">
								<small class="control-label" 
						            ng-show="formValidate.licenseID.$error.required">
						            请输入驾照信息
						        </small>
						    </div>
						</div>

						<div class="content-inline-item" ng-class="{'has-error':formValidate.licenseExpirationDate.$dirty && formValidate.licenseExpirationDate.$invalid,'has-success':formValidate.licenseExpirationDate.$dirty && !formValidate.licenseExpirationDate.$invalid}">
							<label class="control-label largeSpace">驾照到期时间:</label>
							<input type="text" 
								   class= "form-control"  
								   required="" 
								   name="licenseExpirationDate" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.licenseExpirationDate">
							<div class="error"  ng-show="formValidate.licenseExpirationDate.$dirty && formValidate.licenseExpirationDate.$invalid">
								<small class="control-label" 
						            ng-show="formValidate.licenseExpirationDate.$error.required">
						            请输入驾照到期时间
						        </small>
						    </div>
						</div>
					</div>
				</form>				
			</div>
		</div>
	</div>
</div>