<<<<<<< HEAD
html,body{margin:0;height:100%;}
body{
	background-color:#e9f0f7;
	font-family:"黑体","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif}
.h1,.h2,.h3,.h4,.lead,h1,h2,h3,h4{
	font-family:"黑体","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif}

ul{
	margin: 0;
	padding: 0;
}
li{
list-style: none;
}
a{
	text-decoration: initial;
	color: #338ca5;
}
label{
	font-weight: normal;
}
.requireMark{
	margin-left: 5px;
	color: #CC3333;
    vertical-align: -webkit-baseline-middle;
}
.operateBtnForTableList{
	padding: 10px;
}
button{
    margin: 0;
    font: inherit;
    color: inherit;
    border: none;
    background: none;
}
.content-border-bottom{
	border-bottom:1px solid #d9dadc;
	padding:10px 0px;
}
.operate-btn-inline-wrapper{
	position: relative;
}
.operate-btn-inline {
	position: absolute;
    right: 23px;
}
.btn-wrapper{
    margin-top: 40px;
    width: 100%;
/*    text-align: center;*/
}
.submitBtn{
	background: #338ca5;
    border-radius: 40px;
    color: #fff;
    border: 0;
    margin: 4px;
    min-width: 91px;
    min-height: 28px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
}
.submitBtn:hover{
	color: #fff;
}
.submit-cancel:hover{
	color: #666;
}

.submit-ok{
	color: #fff;
}

.submit-cancel{
	color: #666;
    border: 1px solid #338ca5;
    background: #fff;
}
.breadcrumb-link{
	color: #999;
	margin-right:5px;
	display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}
button[disabled], html input[disabled] {
    cursor: default;
    background: #fff;
}
:focus {
    outline: none;
}
a:hover, a:focus {
    color: #23527c;
    cursor: pointer;
    text-decoration: none;
}
.header{
	width:100%;
	height: 60px;
	border-top:5px solid #154e80;
	background-color: #ffffff;
}
.header h1{
	padding: 0px;
	margin: 0px;
	margin-left: 29px;
	font-size: 18px;
	line-height: 60px;
	color:#999;
}

.login-wrapper{
	width:290px;
	height:422px;
	box-sizing: content-box;
	padding:0px 20px 0px 20px;
	background: #fff;
	position: absolute;
	top:95px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.login-wrapper .title-wrapper{
	position: relative;
	padding-top: 55px;
	width: 100%;
	height: 94px;
}
.login-wrapper .title-wrapper .goback{
	position: absolute;
	top:60px;
	cursor: pointer;
}
.login-wrapper .title-wrapper h1{
	width: 100%;
	margin:0px;
	text-align: center;
	color: #333;
	letter-spacing:10px;
	font-size: 24px;
}

.content-wrapper{
	width: 100%;
	height: 230px;
	position: relative;
	flex-flow: column;
    display: flex;
    justify-content: center;
}
.content-wrapper .message{
	font-size: 14px;
	color: #999;
}
.content-wrapper .form-input-common-wrapper{
	position: relative;
}
.content-wrapper .form-input-common-wrapper .code{
	position: absolute;
	right: -8px;
    top: 9px;
    font-size: 16px;
    color:#338ca5;
}
.smsSheep{
	color:#338ca5;
}
.smsActive{
	color: #999
}
.content-wrapper .form-input-common-wrapper .status{
	position: absolute;
    right: 0px;
    top:14px;
}
.content-wrapper .form-input-common-wrapper .status img{
	width: 19px;
}
.login-wrapper .submit-wrapper{
	width: 100%;
	height: 98px;
	position: relative;
}

.login-wrapper .submit-wrapper .submit-btn{
	position: absolute;
	top:0px;
	width: 100%;
	height: 44px;
	background-color: #338ca5;
	border:0px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	letter-spacing: 2px;
	border-radius:40px;

}

.form-input-common{
	height: 44px;
	width: 100%;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	border:0;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
}
.form-input-phonenumber{
	/*position: absolute;*/
/*	top:50px;*/
}

.form-input-password{
/*	position: absolute;
	top:100px;*/
}

.forgetpassword{
	position: absolute;
	right: 0px;
	top:20px;
}
.rememberpassword{
	position: absolute;
	left: 0px;
	top:23px;
}


/*rest bootstrap*/
input:focus { outline: none; } 
.form-control:focus{
	outline: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}
.btn-normal{
	border: none;
	background: #fff;
	-color:#999;
}


/**main content style**/
    .selected{
    	background: #047190;
    }
    .main-wrapper,.main-content{
    	height:auto;
    }
	.main-wrapper{
		width: 100%;
		padding: 0px 25px 0px 25px;
		position:absolute;
		top:75px;
		bottom:0;
	}
	.main-content{
		background: #fff;
		display: flex;
		border: 1px solid #d9dadc;
	}
	.main-wrapper .left-side{
		min-width: 161px;
		padding-top: 20px;
		min-height: 450px;
		background: #338ca5;
		letter-spacing: 2px;
		text-align: center;
		color: #fff;
	}
	.main-wrapper .menu-icon{
		position: absolute;
	    left: 20px;
	    top: 1px;
	}
	.main-wrapper .title-wrapper{
		position: relative;
		height: 35px;
		margin-bottom: 4px;

	}
	.main-wrapper .title-wrapper h1{
		font-size: 14px;
	}
	.main-wrapper .menu-list ul li{
		position: relative;
		height: 30px;
		line-height: 30px;
		margin-bottom: 4px;
		cursor: pointer;
	}

	.main-wrapper .menu-list ul li:hover{
		background: #047190;
	}


/*component style*/

.container-shadow-border{
	-moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}

.alert-wrapper{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 430px;
	height: 142px;
	padding-top: 29px;
	padding-left: 47px;
	padding-right: 22px;
	padding-bottom: 10px;
	box-sizing: border-box;
	background: #fff;
}

.alert-wrapper .message-wrapper{
	font-size: 16px;
	color: 333;
	letter-spacing: 2px;
}

.alert-wrapper .footer-wrapper{
    position: absolute;
    bottom: 10px;
    right: 22px;
}


.submit-btn-small{
	width: 91px;
	height: 28px;
	display: inline-block;
	line-height: 28px;
	background-color: #338ca5;
	border:0px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	letter-spacing: 8px;
	border-radius:40px;
}
.btn-cancel{
	background: #fff;
	color: #666;
	letter-spacing: 2px;
	margin-right: 15px;
	border: 1px solid #338ca5;
}
.btn{
	line-height: auto;
}
a.btn-confirm:hover{
	color: #fff;
}

/*reset date*/
.input-group{
	width: 170px;
	display: inline-flex;
}
.input-group-addon {
    padding: 0px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    right: 0px;
    color: #555;
    z-index: 2;
    height: 23px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
  	z-index: 99;
}
.datepicker{
	padding: 0;
}
.glyphicon{
	top: 3px;
    right: 6px;
}

/***reset bootstrap**/
.form-control{
	padding: 0;
	border-radius: 0px;
	display: inline-block;
	height: 23px;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.form-control-feedback {
    height: 23px;
    line-height: 24px;
}
.control-label {
	text-align: left;
}
@media (min-width: 768px)
.form-horizontal .control-label {
    padding-top: 3px;
    margin-bottom: 0;
    text-align: right;
=======
html,body{margin:0;height:100%;}
body{
	background-color:#e9f0f7;
	font-family:"黑体","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif}
.h1,.h2,.h3,.h4,.lead,h1,h2,h3,h4{
	font-family:"黑体","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif}

ul{
	margin: 0;
	padding: 0;
}
li{
list-style: none;
}
a{
	text-decoration: initial;
	color: #338ca5;
}
label{
	font-weight: normal;
}
.requireMark{
	margin-left: 5px;
	color: #CC3333;
    vertical-align: -webkit-baseline-middle;
}
.operateBtnForTableList{
	padding: 10px;
}
button{
    margin: 0;
    font: inherit;
    color: inherit;
    border: none;
    background: none;
}
.btn-wrapper{
    margin-top: 40px;
    width: 100%;
/*    text-align: center;*/
}
.submitBtn{
	background: #338ca5;
    border-radius: 40px;
    color: #fff;
    border: 0;
    margin: 4px;
    min-width: 91px;
    min-height: 28px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
}
.submitBtn:hover{
	color: #fff;
}
.submit-cancel:hover{
	color: #666;
}

.submit-ok{
	color: #fff;
}

.submit-cancel{
	color: #666;
    border: 1px solid #338ca5;
    background: #fff;
}
.breadcrumb-link{
	color: #999;
	margin-right:5px;
	display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}
button[disabled], html input[disabled] {
    cursor: default;
    background: #fff;
}
:focus {
    outline: none;
}
a:hover, a:focus {
    color: #23527c;
    cursor: pointer;
    text-decoration: none;
}
.header{
	width:100%;
	height: 60px;
	border-top:5px solid #154e80;
	background-color: #ffffff;
}
.header h1{
	padding: 0px;
	margin: 0px;
	margin-left: 29px;
	font-size: 18px;
	line-height: 60px;
	color:#999;
}

.login-wrapper{
	width:290px;
	height:422px;
	box-sizing: content-box;
	padding:0px 20px 0px 20px;
	background: #fff;
	position: absolute;
	top:95px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.login-wrapper .title-wrapper{
	position: relative;
	padding-top: 55px;
	width: 100%;
	height: 94px;
}
.login-wrapper .title-wrapper .goback{
	position: absolute;
	top:60px;
	cursor: pointer;
}
.login-wrapper .title-wrapper h1{
	width: 100%;
	margin:0px;
	text-align: center;
	color: #333;
	letter-spacing:10px;
	font-size: 24px;
}

.content-wrapper{
	width: 100%;
	height: 230px;
	position: relative;
	flex-flow: column;
    display: flex;
    justify-content: center;
}
.content-wrapper .message{
	font-size: 14px;
	color: #999;
}
.content-wrapper .form-input-common-wrapper{
	position: relative;
}
.content-wrapper .form-input-common-wrapper .code{
	position: absolute;
	right: -8px;
    top: 9px;
    font-size: 16px;
    color:#338ca5;
}
.smsSheep{
	color:#338ca5;
}
.smsActive{
	color: #999
}
.content-wrapper .form-input-common-wrapper .status{
	position: absolute;
    right: 0px;
    top:14px;
}
.content-wrapper .form-input-common-wrapper .status img{
	width: 19px;
}
.login-wrapper .submit-wrapper{
	width: 100%;
	height: 98px;
	position: relative;
}

.login-wrapper .submit-wrapper .submit-btn{
	position: absolute;
	top:0px;
	width: 100%;
	height: 44px;
	background-color: #338ca5;
	border:0px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	letter-spacing: 2px;
	border-radius:40px;

}

.form-input-common{
	height: 44px;
	width: 100%;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	border:0;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
}
.form-input-phonenumber{
	/*position: absolute;*/
/*	top:50px;*/
}

.form-input-password{
/*	position: absolute;
	top:100px;*/
}

.forgetpassword{
	position: absolute;
	right: 0px;
	top:20px;
}
.rememberpassword{
	position: absolute;
	left: 0px;
	top:23px;
}


/*rest bootstrap*/
input:focus { outline: none; } 
.form-control:focus{
	outline: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}
.btn-normal{
	border: none;
	background: #fff;
	-color:#999;
}


/**main content style**/
    .selected{
    	background: #047190;
    }
    .main-wrapper,.main-content{
    	height:auto;
    }
	.main-wrapper{
		width: 100%;
		padding: 0px 25px 0px 25px;
		position:absolute;
		top:75px;
		bottom:0;
	}
	.main-content{
		background: #fff;
		display: flex;
		border: 1px solid #d9dadc;
	}
	.main-wrapper .left-side{
		min-width: 161px;
		padding-top: 20px;
		min-height: 450px;
		background: #338ca5;
		letter-spacing: 2px;
		text-align: center;
		color: #fff;
	}
	.main-wrapper .menu-icon{
		position: absolute;
	    left: 20px;
	    top: 1px;
	}
	.main-wrapper .title-wrapper{
		position: relative;
		height: 35px;
		margin-bottom: 4px;

	}
	.main-wrapper .title-wrapper h1{
		font-size: 14px;
	}
	.main-wrapper .menu-list ul li{
		position: relative;
		height: 30px;
		line-height: 30px;
		margin-bottom: 4px;
		cursor: pointer;
	}

	.main-wrapper .menu-list ul li:hover{
		background: #047190;
	}


/*component style*/

.container-shadow-border{
	-moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}

.alert-wrapper{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 430px;
	height: 142px;
	padding-top: 29px;
	padding-left: 47px;
	padding-right: 22px;
	padding-bottom: 10px;
	box-sizing: border-box;
	background: #fff;
}

.alert-wrapper .message-wrapper{
	font-size: 16px;
	color: 333;
	letter-spacing: 2px;
}

.alert-wrapper .footer-wrapper{
    position: absolute;
    bottom: 10px;
    right: 22px;
}


.submit-btn-small{
	width: 91px;
	height: 28px;
	display: inline-block;
	line-height: 28px;
	background-color: #338ca5;
	border:0px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	letter-spacing: 8px;
	border-radius:40px;
}
.btn-cancel{
	background: #fff;
	color: #666;
	letter-spacing: 2px;
	margin-right: 15px;
	border: 1px solid #338ca5;
}

a.btn-confirm:hover{
	color: #fff;
}

/*reset date*/
.input-group{
	width: 170px;
	display: inline-flex;
}
.input-group-addon {
    padding: 0px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    right: 0px;
    color: #555;
    z-index: 2;
    height: 23px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
  	z-index: 99;
}
.datepicker{
	padding: 0;
}
.glyphicon{
	top: 3px;
    right: 6px;
}

/***reset bootstrap**/
.form-control{
	padding: 0;
	border-radius: 0px;
	display: inline-block;
	height: 23px;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.form-control-feedback {
    height: 23px;
    line-height: 24px;
}
.control-label {
	text-align: left;
}
@media (min-width: 768px)
.form-horizontal .control-label {
    padding-top: 3px;
    margin-bottom: 0;
    text-align: right;
>>>>>>> 7d3cf1803017ce6215a2432ad96e570109fcee20
}