<!-- MarkerList完整示例 -->
<!doctype html>
<html lang="zh-CN">

<head>
    <!-- 原始地址：//webapi.amap.com/ui/1.0/ui/misc/MarkerList/examples/index.html -->
    <base href="//webapi.amap.com/ui/1.0/ui/misc/MarkerList/examples/" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scasle=1.0, user-scalable=no, width=device-width">
    <title>完整示例</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
    <script src="../lib/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
    .map-search-wrapper{
        display: flex;
        padding: 5px;
        position: absolute;
        z-index: 99999;
      }

      .map-search-wrapper .searchPlace{
        height: 25px;
        padding: 16px;
        box-sizing: border-box;
      }
      .map-search-wrapper .dropdown{

        z-index: 99999;
      }

      .map-search-wrapper .dropdown{
        position: absolute;
        top: 49px;
        left: 22px;
        z-index: 999999999999999;
        display:block;
        float: left;
        min-width: 160px;
        padding: 10px;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175)
      }
      .dropdown-menu{
        display: block;
      }
    </style>
</head>

<body>
    <div style="height: 100%">
        <div id="container" tabindex="0">
            <div class="map-search-wrapper">
                <div class="col-lg-3">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="搜索站点地址" id="tip">
                      <span class="input-group-btn">
                        <button id="mapSearch" class="btn" style="background: #338ca5; color: #fff;" type="button">搜索</button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div id="panel-wrapper" class="dropdown">
                    <ul id="my-ist"></ul>
                </div>
            </div>



        </div>
<!--         <div id="panel" class="scrollbar1">
            <ul id="myList">
            </ul>
        </div> -->
       <!--  <ul id="btnList"> -->
<!--             <li>
                <input value="美食数据" type="button" data-path="//a.amap.com/amap-ui/static/data/restaurant.json" />
            </li>
            <li>
                <input value="酒店数据" type="button" data-path="//a.amap.com/amap-ui/static/data/hotel.json" />
            </li>
            <li>
                <input value="选中第一个" type="button" data-enable='markerList.getData().length>0' data-eval='markerList.selectByDataIndex(0)' />
            </li>
            <li>
                <input value="选中最后一个" type="button" data-enable='markerList.getData().length>0' data-eval='markerList.selectByDataReverseIndex(0)' />
            </li>
            <li>
                <input value="清除选中" type="button" data-enable='!!markerList.getSelectedDataId()' data-eval='markerList.clearSelected()' />
            </li>
            <li>
                <input value="清除数据" type="button" data-enable='markerList.getData().length>0' data-eval='markerList.clearData()' />
            </li> -->
   <!--      </ul> -->
    </div>
    <script type="text/javascript" src='//webapi.amap.com/maps?v=1.3&key=c72c128531b240087fe95ff8ca5e44a1'></script>
    <!-- UI组件库 1.0 -->
    <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.10"></script>
    <script type="text/javascript">
    //创建地图
    var map = new AMap.Map('container', {
        zoom: 9,
        center: [121.339766,31.196099]
    });
    

    AMapUI.loadUI(['misc/MarkerList', 'overlay/SimpleMarker', 'overlay/SimpleInfoWindow'],
        function(MarkerList, SimpleMarker, SimpleInfoWindow) {

            //即jQuery/Zepto
            var $ = MarkerList.utils.$;

            var defaultIconStyle = 'red', //默认的图标样式
                hoverIconStyle = 'green', //鼠标hover时的样式
                selectedIconStyle = 'purple' //选中时的图标样式
            ;

            var markerList = new MarkerList({
                map: map,
                //ListElement对应的父节点或者ID
                listContainer: "my-ist", //document.getElementById("myList"),
                //选中后显示

                //从数据中读取位置, 返回lngLat
                getPosition: function(item) {
                    console.log('------ get')
                    console.log(1,item)
                    return [item.longitude, item.latitude];
                },
                //数据ID，如果不提供，默认使用数组索引，即index
                getDataId: function(item, index) {

                    return item.id;
                },
                getInfoWindow: function(data, context, recycledInfoWindow) {

                    if (recycledInfoWindow) {

                        recycledInfoWindow.setInfoTitle(data.name);
                        recycledInfoWindow.setInfoBody(data.address);

                        return recycledInfoWindow;
                    }

                    return new SimpleInfoWindow({
                        infoTitle: data.name,
                        infoBody: data.address,
                        offset: new AMap.Pixel(0, -37)
                    });
                },
                //构造marker用的options对象, content和title支持模板，也可以是函数，返回marker实例，或者返回options对象
                getMarker: function(data, context, recycledMarker) {

                    var label = String.fromCharCode('A'.charCodeAt(0) + context.index);

                    if (recycledMarker) {
                        recycledMarker.setIconLabel(label);
                        return;
                    }

                    return new SimpleMarker({
                        containerClassNames: 'my-marker',
                        iconStyle: defaultIconStyle,
                        iconLabel: label
                    });
                },
                //构造列表元素，与getMarker类似，可以是函数，返回一个dom元素，或者模板 html string
                getListElement: function(data, context, recycledListElement) {
                    console.log('getListElement')
                    console.log(1,data)
                    console.log('context')
                    console.log(1,context)
                    console.log('recycledListElement')
                    console.log(1,recycledListElement)
                    var label = String.fromCharCode('A'.charCodeAt(0) + context.index);

                    var tpl = '<p><%- data.id %><p>';

                    //使用模板创建
                    var innerHTML = MarkerList.utils.template(tpl
                        // '<div class="poi-imgbox">' +
                        // '    <span class="poi-img" style="background-image:url(<%- data.pic %>)"></span>' +
                        // '</div>' +
                        // '<div class="poi-info-left">' +
                        // '    <h3 class="poi-title">' +
                        // '        <%- label %>. <%- data.name %>' +
                        // '    </h3>' +
                        // '    <div class="poi-info">' +
                        // '        <span class="poi-price">' +
                        // '            <%= data.price %>' +
                        // '        </span>' +
                        // '        <p class="poi-addr"><%- data.address %></p>' +
                        // '    </div>' +
                        // '</div>' +
                        // '<div class="clear"></div>'
                        , {
                            data: data,
                            label: label
                        });

                    if (recycledListElement) {
                        recycledListElement.innerHTML = innerHTML;
                        return recycledListElement;
                    }

                    return '<li>' +
                        innerHTML +
                        '</li>';
                },
                //列表节点上监听的事件
                listElementEvents: ['click', 'mouseenter', 'mouseleave'],
                //marker上监听的事件
                markerEvents: ['click', 'mouseover', 'mouseout'],
                //makeSelectedEvents:false,
                selectedClassNames: 'selected',
                autoSetFitView: true
            });

            window.markerList = markerList;



            AMap.plugin(["AMap.PlaceSearch"], function() {

                var placeSearch = new AMap.PlaceSearch({ //构造地点查询类
                    pageSize: 5,
                    pageIndex: 1,
                    extensions: 'all',
                    city: "021" //城市
                });

               // var $pagination = $('#pagination-demo');

                // function initPagination(page, totalPages) {

                //     //初始化分页器
                //     $pagination.twbsPagination({
                //         totalPages: totalPages,
                //         startPage: page,
                //         prev: null,
                //         first: '首页',
                //         next: '下一页',
                //         last: null,
                //         initiateStartPageClick: false,
                //         onPageClick: function(event, page) {
                //             goPage(page);
                //         }
                //     });
                // }

                   // var inited = false;

     
                    var $keywords = $('#tip');
                    var $btn = $('#mapSearch')
                    $btn.on('click', function(e) {
                        if (e.which === 13) {
                         //   inited = false;
                            //$pagination.twbsPagination('destroy');
                            goPage();
                        }


                        goPage();
                    });


                    placeSearch.search($keywords.val(), function(status, result) {
                        if (status !== 'complete') {
                            alert('返回数据出错!');
                        }
                        console.log('--------- poiList -----')
                        console.log(1,result.poiList)
                        console.log('result.poiList.pois')
                        console.log(1,result.poiList.pois)

                        //render当前页的数据
                        markerList.render(result.poiList.pois);

                        // if (!inited) {
                        //     inited = true;
                        //     //首次初始化
                        //     initPagination(page, Math.ceil(result.poiList.count / result.poiList.pageSize));
                        // }

                    });

                    function goPage() {

                        //设置当前页
                        //placeSearch.setPageIndex(page);
                        //关键字查询
                        placeSearch.search($keywords.val(), function(status, result) {

                            if (status !== 'complete') {
                                alert('返回数据出错!');
                            }

                            var  data = [{
                id: 'A',
                position: [116.020764, 39.904989],
                title: '标题_1',
                desc: '描述_1'
            }, {
                id: 'B',
                position: [116.405285, 39.904989],
                title: '标题_2',
                desc: '描述_2'
            }, {
                id: 'C',
                position: [116.789806, 39.904989],
                title: '标题_3',
                desc: '描述_3'
            }]
                            //render当前页的数据
                            markerList.render(result.poiList.pois);

                            // if (!inited) {
                            //     inited = true;
                            //     //首次初始化
                            //     initPagination(page, Math.ceil(result.poiList.count / result.poiList.pageSize));
                            // }

                        });
                    }

                // goPage(1);

                // $keywords.on('keypress', function(e) {
                //     if (e.which === 13) {
                //         inited = false;
                //         $pagination.twbsPagination('destroy');
                //         goPage(1);
                //     }
                // });
            });
            markerList.on('selectedChanged', function(event, info) {

                checkBtnStats();

                if (info.selected) {

                    if (info.selected.marker) {
                        //更新为选中样式
                        info.selected.marker.setIconStyle(selectedIconStyle);
                    }

                    //选中并非由列表节点上的事件触发，将关联的列表节点移动到视野内
                    if (!info.sourceEventInfo.isListElementEvent) {

                        if (info.selected.listElement) {
                            scrollListElementIntoView($(info.selected.listElement));
                        }
                    }
                }

                if (info.unSelected && info.unSelected.marker) {
                    //更新为默认样式
                    info.unSelected.marker.setIconStyle(defaultIconStyle);
                }
            });

            markerList.on('listElementMouseenter markerMouseover', function(event, record) {

                if (record && record.marker) {

                    forcusMarker(record.marker);

                    //this.openInfoWindowOnRecord(record);

                    //非选中的id
                    if (!this.isSelectedDataId(record.id)) {
                        //设置为hover样式
                        record.marker.setIconStyle(hoverIconStyle);
                        //this.closeInfoWindow();
                    }
                }
            });

            markerList.on('listElementMouseleave markerMouseout', function(event, record) {

                if (record && record.marker) {

                    if (!this.isSelectedDataId(record.id)) {
                        //恢复默认样式
                        record.marker.setIconStyle(defaultIconStyle);
                    }
                }
            });

            //数据输出完成
            markerList.on('renderComplete', function(event, records) {

                checkBtnStats();
            });

            // markerList.on('*', function(type, event, res) {
            //     console.log(type, event, res);
            // });

            //加载数据
            function loadData(src, callback) {

                $.getJSON(src, function(data) {

                    markerList._dataSrc = src;

                    //渲染数据
                    markerList.render(data);

                    if (callback) {
                        callback(null, data);
                    }
                });
            }

          //  var $btns = $('#btnList input[data-path]');

            /**
             * 检测各个button的状态
             */
            // function checkBtnStats() {
            //     $('#btnList input[data-enable]').each(function() {

            //         var $input = $(this),
            //             codeEval = $input.attr('data-enable');

            //         $input.prop({
            //             disabled: !eval(codeEval)
            //         });
            //     });
            // }

            // $('#btnList').on('click', 'input', function() {

            //     var $input = $(this),
            //         dataPath = $input.attr('data-path'),
            //         codeEval = $input.attr('data-eval');

            //     if (dataPath) {
            //         loadData(dataPath);
            //     } else if (codeEval) {
            //         eval(codeEval);
            //     }

            //     checkBtnStats();
            // });

            //loadData($btns.attr('data-path'));

            function forcusMarker(marker) {
                marker.setTop(true);

                //不在地图视野内
                if (!(map.getBounds().contains(marker.getPosition()))) {

                    //移动到中心
                    map.setCenter(marker.getPosition());
                }
            }

            function isElementInViewport(el) {
                var rect = el.getBoundingClientRect();

                return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /*or $(window).height() */
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth) /*or $(window).width() */
                );
            }

            // function scrollListElementIntoView($listEle) {

            //     if (!isElementInViewport($listEle.get(0))) {
            //         $('#panel').scrollTop($listEle.offset().top - $listEle.parent().offset().top);
            //     }

            //     //闪动一下
            //     $listEle
            //         .one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
            //             function(e) {
            //                 $(this).removeClass('flash animated');
            //             }).addClass('flash animated');
            // }


        });
    </script>
</body>

</html>