<aside>
	
	<section>
		
		<ul>
			
			<li ng-repeat="lv1 in menuData track by $index"
				class="treeview"
				ng-click="stateGo(lv1.uiSref,lv1)"
				toportal-permission={{lv1.permission}}>
				<a>
					<i class="fa {{lv1.left}}"></i>{{lv1.name}}
					<span class="pull-right-container">
						<i class="fa {{lv1.class}}">
					</span>
				</a>
				<ul ng-if="lv1.sub"
					class="treeview-menu {{lv1.positionIndex}}"
					style="padding-left: 0px;">
					<li ng-repeat="lv2 in lv1.sub track $index"
						ng-click="stateGo(lv2.uiSref,lv2)">
						<a ng-if="lv2.target!='_blank'">
							<i class="fa {{lv2.left}}"></i>{{lv2.name}}
						</a>
						<ul ng-if="lv2.sub" class="treeview-menu">
							<li ng-repeat="lv3 in lv2.sub track by $index">
								<a ng-if="lv3.target!=='_blank'">{{lv3.name}}</a>
								<a ng-if="lv3.target === '_blank'" ng-href="{{lv3.uiSref}}" target="_blank">{{lv3.name}}</a>
							</li>
						</ul>
					</li>
					
				</ul>
			</li>
		</ul>
	</section>
</aside>