<div class="title-wrapper"  ng-if="dataIsEmpty">
	<div class="main-title-wrapper" style="line-height: 0px; ">
		<div style="line-height: 25px; "><a style="cursor: none;">乘客列表</a></div>
	</div>
</div>

<div class="emptyInfo-wrapper" ng-if="dataIsEmpty">
	<div class="emptyInfo-content">
		<h2 class="emptyTitle">还未添加过乘客</h2>
		<div class="subTitle-operate">
			<a ng-click="addPassenger()">新建乘客</a>
			<a ng-click="importPassenger()">批量导入乘客</a>
			<a ng-click="downloadTemplate()">下载模板</a>
		</div>	 
	</div>
</div>

<div class="title-wrapper" ng-show="!dataIsEmpty">
	<div class="main-title-wrapper" style="line-height: 0px; ">
		<div style="line-height: 25px; "><a style="cursor: none;">乘客列表</a></div>
		<div class="search-wrapper " >
	   		<div class="input-group-btn" 
	   			 style="width: 80px;float: left;">
		        <button style="padding:1px 12px;border-radius: 0px; width: 94px;box-shadow: 0 0 7px 1px rgba(0,0,0,0.1);" 
		        		type="button"
		        		class="btn btn-default dropdown-toggle" 
		        		data-toggle="dropdown" 
		        		aria-haspopup="true" 
		        		ng-click="showQueryKeyList()"
		        		aria-expanded="false">{{queryByKeyObj.active.value}} <span class="caret"></span></button>
		        <ul class="dropdown-menu" 
		        	style="border-radius: 0px;display: none"  
		        	aria-labelledby="dLabel">
		        	<li ng-repeat="item in queryByKeyObj.list track by $index"><a ng-click="selectKey(item)">{{item.value}}</a></li>
		        </ul>
	      	</div><!-- /btn-group -->

	       <div class="input-group" style="margin-left: 13px">
	        	<input  type="text" 
	      		 	    class="form-control" 
	      		 		style="height:24px;" 
	      		 		ng-model= "searchText"/>
			    <span class="input-group-btn">
			        <button class="btn btn-default" 
			        	type="button" 
			        	style="padding: 1px 6px;"
			        	ng-click="searchFn()">
			        	<img style="vertical-align: baseline;"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAV5JREFUKBWNUT1Lw1AUbZ4kSzsLikMNios6mIQYI/gDuhqqkyIoDi7+AN110sFVECfBqbh1MHQJIQmCuggSWhAXF6FL2kDjuTW3FKnohZdz77nv3I8XqZCbbduTnU7nKMsyC1RZkqRnYL1UKp24rpvwPUJBH03TKkmSBBC0ZFneVBRlAqJDxFPtdvvBNM1Zujcw6gDROxKLA3LI0XV9B8d3HGeMaYGRjhGc+77/yOQwhmF4iY4fcRxXmRcgljFSjYlRKISoYVzatW+0UzlN01Yej4Rer9dE8WlOkugJVeaZ+AUXcOeFc+gs6gj2mPiJeAAFgm10uuOcKBaLpyBWDMPYZZKRBHiAC8RvURTdMy+RY1nWTLfbvUbFTxSgpZugaeQtHNp3CVw1CIIG/O+f63neq6qqq4ivcOZw9iEeBx7gySvAdcQ3mGYNfqHfiZy/DD/Yxp1bdNz4t4iK5sKzLwtCfTE0zEQeAAAAAElFTkSuQmCC"/></button>
			    </span>
	   		</div>
	       <!-- 	<div class="input-group" style="margin-left: 13px">
				<input  type="text" class="form-control" style="height:24px;" placeholder="" ng-model= "searchText">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="searchFn()" type="button" style="padding: 1px 6px;"><img style="vertical-align: baseline;"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAV5JREFUKBWNUT1Lw1AUbZ4kSzsLikMNios6mIQYI/gDuhqqkyIoDi7+AN110sFVECfBqbh1MHQJIQmCuggSWhAXF6FL2kDjuTW3FKnohZdz77nv3I8XqZCbbduTnU7nKMsyC1RZkqRnYL1UKp24rpvwPUJBH03TKkmSBBC0ZFneVBRlAqJDxFPtdvvBNM1Zujcw6gDROxKLA3LI0XV9B8d3HGeMaYGRjhGc+77/yOQwhmF4iY4fcRxXmRcgljFSjYlRKISoYVzatW+0UzlN01Yej4Rer9dE8WlOkugJVeaZ+AUXcOeFc+gs6gj2mPiJeAAFgm10uuOcKBaLpyBWDMPYZZKRBHiAC8RvURTdMy+RY1nWTLfbvUbFTxSgpZugaeQtHNp3CVw1CIIG/O+f63neq6qqq4ivcOZw9iEeBx7gySvAdcQ3mGYNfqHfiZy/DD/Yxp1bdNz4t4iK5sKzLwtCfTE0zEQeAAAAAElFTkSuQmCC"/></button>
			    </span>
	   		</div> -->
		</div>
		<div class="subTitle-wrapper">
			<div class="subTitle-content">
		<!-- 	 	<a style="margin-left: 20px;margin-right: 30px;" ng-click="selectAll()">全选</a>
			 	<a ng-click="deletePassenger()">删除</a> -->
			</div>
			<div class="subTitle-operate">
				<a ng-click="addPassenger()">新建乘客</a>
				<a ng-click="importPassenger()">批量导入乘客</a>
				<a ng-click="downloadTemplate()">下载模板</a>
			</div>	 	
		</div>
	</div>
</div>
<div class="right-content-wrapper container-shadow-border"  ng-show="!dataIsEmpty">
	<table-component table-config = "tableConfig" table-data="pageConfigs.list"></table-component>
</div>
<div class="pagination-wrapper" ng-show="!dataIsEmpty">
	<pagination-component page-configs= "pageConfigs"></pagination-component>
</div>

<div class="modal fade" id="importPassengerPopUp" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document"  style="width: 450px;">
    <div class="modal-content" style="    border-radius: 0px;">
      <div class="modal-body" style="min-height: 100px">
			<div id="container">
				<div style="text-align: center;margin-top: 20px;">
					<a id="pickfiles" class="submitBtn submit-ok" >选择文件</a> 
				    <a id="uploadfiles" class="submitBtn submit-ok" >开始上传</a>
				</div>
			</div>
			<div id="filelist" style="position: absolute;top: 66px;border: 2px #ccc dashed;padding: 10px;margin-top: 5px;height: 75px; width: 94%;">您的浏览器不支持 Flash, Silverlight 或者 HTML5 .</div>
      </div>
      <div class="modal-footer" style="text-align: center;border: none;margin-top: 40px;">
        <button type="button" class="submitBtn submit-cancel" data-dismiss="modal" style="line-height: 16px;">关闭</button>
      </div>
    </div>
  </div>
</div>