<div class="title-wrapper breadcrumb-wrapper">
	<breadcrumb-component breadcrumb-params="breadcrumbParams" breadcrumb-text="breadcrumbText"></breadcrumb-component>
</div>
<div class="subTitle-wrapper">
 	<div class="subTitle-content">
 		<p ng-if ="!active">{{params.passengerName}}</p>
 	</div>
 	<div class="subTitle-operate">
		<!-- <a ng-click="deletePassenger()">删除乘客</a> -->
 	</div>
</div>
<div class="right-content-wrapper container-shadow-border">
	<div class="inner-content">
		<div class="info-wrapper">
			<div class="title">
				<h1>基础信息</h1>
				<a ng-click="editPassengerProfile(false)" ng-if="!active">编辑</a>
				<a ng-click="!submitOnProgress&& addPassengerProfile(formValidate.$valid,formValidate)"  ng-if="active">{{submitStatusText}}</a>
			</div>
			<div class="content">
				<form name="formValidate" novalidate>
					<div class="content-inline">
						<div class="content-inline-item"  ng-class="{'has-error':formValidate.passengerName.$dirty && formValidate.passengerName.$invalid,'has-success':formValidate.passengerName.$dirty && !formValidate.passengerName.$invalid}">
							<label for="passengerName" class="control-label" >员工姓名:</label>
							<input type="text"  
								   class= "form-control" 
								   id="passengerName" 
								   name="passengerName" 
								   required="" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.passengerName"
								   ng-pattern="/^[a-zA-Z\u4E00-\u9FA5]{1,15}$/"/><sup class="requireMark">*</sup>
							<div class="error"  ng-show="formValidate.passengerName.$dirty && formValidate.passengerName.$invalid">
						        <small class="control-label" 
						            ng-show="formValidate.passengerName.$error.required">
						            请输入员工姓名。
						        </small>
						        <small class="control-label" 
						            ng-show="formValidate.passengerName.$error.pattern">
						            员工姓名格式错误，请重新输入。
						        </small>
						     </div>
						</div>

						<div class="content-inline-item" ng-class="{'has-error':formValidate.phoneNumber.$dirty && formValidate.phoneNumber.$invalid,'has-success':formValidate.phoneNumber.$dirty && !formValidate.phoneNumber.$invalid}">
							<label class=" control-label" for="phoneNumber" >手机号码：</label>
							<input type="text" 
								   id="phoneNumber" 
								   class= "form-control" 
								   required=""  
								   ng-maxlength="11" 
								   ng-minlength="11"  
								   maxlength="11" 
								   ng-pattern ="/^[1][0,1,2,3,4,5,6,7,8,9][0-9]{9}$/" 
								   name="phoneNumber" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.phoneNumber"><sup class="requireMark">*</sup>
							<div class="error"  ng-show="formValidate.phoneNumber.$dirty && formValidate.phoneNumber.$invalid">
								<small class="control-label" 
						            ng-show="formValidate.phoneNumber.$error.required">
						            请输入手机号。
						        </small>
						        <small class="control-label" 
						            ng-show="formValidate.phoneNumber.$error.maxlength">
						            请输入11位的手机号。
						        </small>

						        <small class="control-label" 
						                ng-show="formValidate.phoneNumber.$error.minlength &&!formValidate.phoneNumber.$error.pattern">
						            请输入11位手机号。
						        </small>
						       <small class="control-label" 
						                ng-show="formValidate.phoneNumber.$error.pattern ">
						            请输入正确的手机号。
						        </small>
						    </div>
						</div>


					</div>
					<div class="content-inline" >
						<div class="content-inline-item">
							<label class="control-label">员工ID:</label>
							<input type="text" 
								   class= "form-control"  
								   name="employeeId" 
								   id="busCompany" 
								   ng-disabled="!active" 
								   ng-class="{'edit':active,'preview':!active}" 
								   ng-model="params.employeeId">
						</div>
					</div>
				</form>					
			</div>
		</div>
	</div>
</div>
